version: 2
updates:
    - package-ecosystem: "gradle"
      directory: "/"
      schedule:
          interval: "weekly"
      rebase-strategy: "disabled"
      groups:
        all-gradle-dependencies:
          patterns:
            - "*"

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      rebase-strategy: "disabled"
      groups:
        all-github-actions-dependencies:
          patterns:
            - "*"
