stage
# This Needs to say, bin directories not under root are fine.
# but some IDEs dump class files here.
bin/
build
.gradle
*.tgz
.*~
.vscode
.settings
dep/
.classpath
.project
bin
.externalToolBuilders/
doc-source/media/**
doc-source/*.rst
**/.externalToolBuilders
*.log
*.iml
.idea/
out
gradle.properties
**/.factorypath

**/target
tmp
**/\.~lock*

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode

### Mac OS ###
.DS_Store

gradle.properties