stage
# This Needs to say, bin directories not under root are fine.
# but some IDEs dump class files here.
bin/
build
.gradle
*.tgz
.*~
.vscode
.settings
dep/
.classpath
.project
bin
.externalToolBuilders/
doc-source/media/**
doc-source/*.rst
**/.externalToolBuilders
*.log
*.iml
.idea/
!install/bin
out
gradle.properties