stage

# This Needs to say, bin directories not under root are fine.
# but some IDEs dump class files here.
**/bin
!install/src/main/install/bin
build
.gradle
*.tgz
.*~
.vscode
.settings
dep/
.classpath
.project
.externalToolBuilders/
doc-source/media/**
doc-source/*.rst
**/.externalToolBuilders
*.log
*.iml
.idea/
