<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <import class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender"/>
    <variable name="APP_NAME" value="${APP_NAME:-app}"/>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <contextName>${APP_NAME}</contextName>
    <appender name="STDERR" class="ConsoleAppender">
        <encoder class="JsonEncoder"/>
        <target>System.err</target>
    </appender>

    <appender name="OTEL-STDERR" class="OpenTelemetryAppender">
        <appender-ref ref="STDERR"/>
    </appender>

    <logger name="covesw" level="${LOG_LEVEL}"/>
    <logger name="decodes" level="${LOG_LEVEL}"/>
    <logger name="ilex" level="${LOG_LEVEL}"/>
    <logger name="lqm" level="${LOG_LEVEL}"/>
    <logger name="lrgs" level="${LOG_LEVEL}"/>
    <logger name="org.opendcs" level="${LOG_LEVEL}"/>
        
    <logger name="opendcs" level="${LOG_LEVEL}"/>
        
    <root level="INFO">
        <appender-ref ref="OTEL-STDERR"/>
    </root>
</configuration>