// =============================================================================
// Form density & editable-select
// =============================================================================

.form-group {
  margin-bottom: 0.25rem;

  .select2-selection--single,
  .col-form-label,
  input,
  select {
    padding-top: 0.175rem;
    padding-bottom: 0.175rem;
    height: auto;
  }
}

.select2-container {
  z-index: 99999;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.form-alert {
  color: red !important;
  border: none !important;
}

// --- Editable Select ---
.select-editable {
  position: relative;
  background-color: white;
  border: solid grey 1px;
  width: 120px;
  height: 18px;

  select {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    border: none;
    width: 120px;
    margin: 0;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    padding: 1px;
    font-size: 12px;
    border: none;
  }

  select:focus,
  input:focus {
    outline: none;
  }
}
