// =============================================================================
// Modal sizing
// =============================================================================

.opendcs-modal-90 {
  height: 90vh !important;
  min-height: 500px !important;
  max-height: 90vh !important;
  width: 90vw;
  min-width: 600px !important;
  max-width: 90vw !important;
}

.modal-row-small {
  min-height: 250px !important;
  max-height: 350px !important;
}

.modal-row-medium {
  min-height: 350px !important;
}

.modal-row-large {
  min-height: 450px !important;
}

.opendcs-modal-tall-narrow {
  height: 95vh !important;
  min-height: 500px !important;
  max-height: 95vh !important;
  width: 50vw;
  min-width: 400px !important;
  max-width: 50vw !important;
}

.opendcs-modal-body-100 {
  height: 100%;
  width: 100%;
}

.opendcs-modal-header-medium {
  height: 46px;
  min-height: 46px;
  max-height: 46px;
}

.opendcs-modal-footer-medium {
  height: 36px;
  min-height: 36px;
  max-height: 36px;
}

.modal-header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.modal .dropdown-menu {
  z-index: 1100;
}

@media (min-width: 992px) {
  .opendcs-modal-90 {
    max-width: 90vw;
  }
}
