<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2023 OpenDCS Consortium
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>OpenDCS Web Application</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MainDashboard</servlet-name>
        <servlet-class>portal.decodes.MainDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainDashboard</servlet-name>
        <url-pattern>/portal/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sources</servlet-name>
        <servlet-class>portal.decodes.Sources</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sources</servlet-name>
        <url-pattern>/portal/sources</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Netlist</servlet-name>
        <servlet-class>portal.decodes.Netlist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Netlist</servlet-name>
        <url-pattern>/portal/netlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>portal.decodes.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/portal/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Configs</servlet-name>
        <servlet-class>portal.decodes.Configs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Configs</servlet-name>
        <url-pattern>/portal/configs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Platforms</servlet-name>
        <servlet-class>portal.decodes.Platforms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Platforms</servlet-name>
        <url-pattern>/portal/platforms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Presentation</servlet-name>
        <servlet-class>portal.decodes.Presentation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Presentation</servlet-name>
        <url-pattern>/portal/presentation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Routing</servlet-name>
        <servlet-class>portal.decodes.Routing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Routing</servlet-name>
        <url-pattern>/portal/routing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>portal.decodes.Schedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/portal/schedule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sites</servlet-name>
        <servlet-class>portal.decodes.Sites</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sites</servlet-name>
        <url-pattern>/portal/sites</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Algorithms</servlet-name>
        <servlet-class>portal.computations.Algorithms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Algorithms</servlet-name>
        <url-pattern>/portal/algorithms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Computations</servlet-name>
        <servlet-class>portal.computations.Computations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Computations</servlet-name>
        <url-pattern>/portal/computations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Processes</servlet-name>
        <servlet-class>portal.computations.Processes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Processes</servlet-name>
        <url-pattern>/portal/processes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Enumerations</servlet-name>
        <servlet-class>portal.rledit.Enumerations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Enumerations</servlet-name>
        <url-pattern>/portal/enumerations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EngineeringUnits</servlet-name>
        <servlet-class>portal.rledit.EngineeringUnits</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EngineeringUnits</servlet-name>
        <url-pattern>/portal/engineering_units</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Seasons</servlet-name>
        <servlet-class>portal.rledit.Seasons</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Seasons</servlet-name>
        <url-pattern>/portal/seasons</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EuConversions</servlet-name>
        <servlet-class>portal.rledit.EuConversions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EuConversions</servlet-name>
        <url-pattern>/portal/eu_conversions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>portal.decodes.Error</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/portal/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApiGateway</servlet-name>
        <servlet-class>api.Gateway</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiGateway</servlet-name>
        <url-pattern>/api/gateway</url-pattern>
    </servlet-mapping>
	<!-- This does not work in jetty though -->
	<filter>
		<filter-name>httpHeaderSecurity</filter-name>
		   <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
	        <async-supported>true</async-supported>
		</filter>
	<filter-mapping>
	    <filter-name>httpHeaderSecurity</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
	 <error-code>404</error-code>
	 <location>/error.jsp</location>
	</error-page>
</web-app>