<configuration>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger -%kvp- %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger -%kvp- %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="jdbc.audit" level="ERROR" additivity="false">
        <appender-ref ref="FILE" />    
    </logger>
    
    <logger name="jdbc.resultset" level="ERROR" additivity="false">
        <appender-ref ref="FILE" />    
    </logger>
    
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />    
    </root>
    
    
    
    
    <receiver class="ch.qos.logback.classic.net.server.ServerSocketReceiver">
        <port>12345</port>
    </receiver>
</configuration>