<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.FileAppender">
        <file>odcsapi.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <!--<pattern>(ISO including zone) %date %level [%thread] %logger{10} [%file:%line] -\t%msg%n</pattern>-->
            <pattern>%date %level [%thread] %logger{10} [%file:%line] -\t%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.opendcs.odcsapi.jetty" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILEOUT" />
    </root>
</configuration>