name: OpenDCS Build and unit tests
on:
  pull_request:
    branches:
      - "main"
      - "7.0"
      - "8.0"
    types: [opened, synchronize, reopened]
  push:
    branches:
      - "main"
      - "7.0"
      - "8.0"
# Update this value if we need a different Jdk to be used for sonar analysis.
env:
  sonarJdk: 21

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [21]
    runs-on: ${{matrix.platform}}
    steps:
      - name: Clean up disk space, so we don't run out.
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK
        uses: actions/setup-java@v4.7.1
        with:
          java-version: ${{matrix.jdk}}
          distribution: temurin
      - uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.8"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.4.1
        with:
          dependency-graph: generate-and-submit
      - name: Change temp dir in windows
        if: matrix.platform == 'windows-latest'
        run: |
          echo "TEMP=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV
          echo "TMP=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV
      - name: install node for react ui and tests
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: javascript/opendcs-web-ui-react/package-lock.json
      - name: Install/Setup playwright
        working-directory: javascript/opendcs-web-ui-react
        run : |
          npm install
          npx playwright install
      - name: Unit and LRGS tests
        run: |
          ./gradlew test --info
      - name: integration tests (XML)
        # There is an odd issues with the log file name on the windows runner.
        # It does work locally though. Will work on it later.
        # Integration tests require docker now for test containers.
        # More work required to deal with the other platforms. Should be workable
        # at some point though.
        run: |
          ./gradlew :testing:opendcs-tests:test -P"opendcs.test.engine=OpenDCS-XML" --info
      - name: integration tests (OpenDCS-Postgres)
        # There is an odd issues with the log file name on the windows runner.
        # It does work locally though. Will work on it later.
        # Integration tests require docker now for test containers.
        # More work required to deal with the other platforms. Should be workable
        # at some point though.
        if: matrix.platform == 'ubuntu-latest'
        run: |
          ./gradlew :testing:opendcs-tests:testOpenDCSPostgres --info
      - name: integration tests (OpenDCS-Oracle)
        # There is an odd issues with the log file name on the windows runner.
        # It does work locally though. Will work on it later.
        # Integration tests require docker now for test containers.
        # More work required to deal with the other platforms. Should be workable
        # at some point though.
        if: matrix.platform == 'ubuntu-latest'
        run: |
          ./gradlew :testing:opendcs-tests:testOpenDCSOracle  --info
      - name: integration tests (CWMS-Oracle)
        # There is an odd issues with the log file name on the windows runner.
        # It does work locally though. Will work on it later.
        # Integration tests require docker now for test containers.
        # More work required to deal with the other platforms. Should be workable
        # at some point though.
        if: matrix.platform == 'ubuntu-latest'
        run: |
          ./gradlew :testing:opendcs-tests:testCWMSOracle  --info
      - name: API tests (OpenDCS-Postgres)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          ./gradlew :testing:rest-api:testOpenDCSPostgres --info
      - name: API tests (CWMS-Oracle)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          ./gradlew :testing:rest-api:testCWMSOracle --info
      - name: Gather Code Coverage into single report
        # There is an odd issues with the log file name on the windows runner.
        # It does work locally though. Will work on it later.
        # Integration tests require docker now for test containers.
        # More work required to deal with the other platforms. Should be workable
        # at some point though.
        if: matrix.platform == 'ubuntu-latest' && matrix.jdk == env.sonarJdk
        run: |
          ./gradlew codeCoverageReport --info
      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        if: matrix.platform == 'ubuntu-latest' && matrix.jdk == env.sonarJdk
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Gradle packages
        uses: actions/cache@v4
        if: matrix.platform == 'ubuntu-latest' && matrix.jdk == env.sonarJdk
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Upload Coverage
        if: matrix.platform == 'ubuntu-latest' && matrix.jdk == env.sonarJdk
        uses: actions/upload-artifact@v4.6.2
        with:
          name: coverage
          path: |
            ./**/build/**/jacoco*.xml
            ./build/reports/jacoco/codeCoverageReport/codeCoverageReport.xml
            ./**/build/**/*.class
            ./javascript/opendcs-web-ui-react/coverage/**
      - name: Upload Test Reports
        uses: actions/upload-artifact@v5.0.0
        with:
          name: test-report-${{ runner.os }}-${{ matrix.jdk }}
          path: |
            ./**/build/reports/tests/**
            ./**/build/test-results/**
          if-no-files-found: error
  containers:
    runs-on: [ubuntu-latest]
    steps:
      - name: Clean up disk space, so we don't run out.
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      - uses: actions/checkout@v4.1.1
      - name: Build base container images
        run: |
          docker build -t opendcs:test-container --target opendcs_base . 