name: OpenDCS Build and unit tests
on:
  pull_request:
    branches: ["master"]
  push:
    branches: ["master"]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest,macos-latest,windows-latest]
    runs-on: ${{matrix.platform}}
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK
        uses: actions/setup-java@v4.0.0
        with:
          java-version: '8'
          distribution: temurin
      - uses: actions/setup-python@v4.0.0
        with:
          python-version: "3.8"
      - uses: actions/cache@v3.3.2
        with:
          path: ~/.ant
          key: ${{ matrix.platform }}-ivy-${{hashFiles('ivy.xml')}}
          restore-keys: ${{ matrix.platform }}-ivy
      - name: units tests
        run: |
          ant test -D"no.docs=true"
      - name: integration tests
        # There is an odd issues with the log file name on the windows runner.
        # It does work locally though. Will work on it later.
        # Integration tests require docker now for test containers.
        # More work required to deal with the other platforms. Should be workable
        # at some point though.
        if: matrix.platform == 'ubuntu-latest'
        run: |
          ant integration-test -D"no.docs=true" -D"opendcs.test.engine=OpenDCS-XML"
          ant integration-test -D"no.docs=true" -D"opendcs.test.engine=OpenDCS-Postgres"
      - name: Gui Tests
        if: matrix.platform == 'ubuntu-latest'
        # we need time kill Xvfb and let ffmpeg write out the video file
        shell: bash {0}
        run: |
          sudo apt update -y && sudo apt upgrade -y
          sudo apt install tightvncserver ffmpeg
          # Precompile the test code so the recording isn't as long.
          mkdir ~/.vnc
          echo 123456 | vncpasswd -f > ~/.vnc/passwd
          chmod -v 0600 ~/.vnc/passwd
          ant compile-test-gui -D"no.docs=true"
          export DISPLAY=:99
          vncserver "$DISPLAY" -localhost -geometry 1920x1080 -depth 16
          ffmpeg -nostdin -y -f x11grab -video_size 1920x1080 -i "$DISPLAY" build/test-gui.webm &
          ant gui-test -D"no.docs=true"
          exit_val=$?
          vncserver -kill "$DISPLAY"
          sleep 1 # give ffmpeg a chance to figure it out and finish writing the file.
          exit $exit_val
      - name: Code Coverage
        run: |
          ant coverage.report
      - name: Documentation and Create installer jar
        run: |
          ant opendcs
      - name: Upload Test Results
        uses: actions/upload-artifact@v4.0.0
        if: success() || failure()
        with:
          name: test-results-${{matrix.platform}}
          path: |
            build/reports/**
            build/test-integration/**/tmp/configs**
            build/test-gui.webm
#docker-images:
#  runs-on: ubuntu-latest
#  steps:
#   - uses: actions/checkout@v2
#   - name: Set up JDK
#     uses: actions/setup-java@v2
#     with:
#       java-version: '8'
#       distribution: adopt
#   - name: Set up Docker Buildx
#     uses: docker/setup-buildx-action@v2
#   - name: build images
#     run: |
#       docker build --target lrgs -t lrgs:latest-dev .
