name: CI/CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: write
jobs:
  build:
    name: Build, Test, and Analyze
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK 17
        uses: actions/setup-java@v4.0.0
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Cache SonarCloud packages
        uses: actions/cache@v3.3.3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.11.1
        with:
          dependency-graph: generate-and-submit
      - name: Build
        run: ./gradlew build
      - name: Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar
      - name: Bundle tarballs
        run: ./gradlew bundle
      - name: Upload WAR files
        uses: actions/upload-artifact@v4.2.0
        with:
          name: warfile
          path: ./**/build/libs/*.war
          retention-days: 1
          if-no-files-found: error
      - name: Upload Tarballs
        uses: actions/upload-artifact@v4.2.0
        with:
          name: opendcs-rest-api-artifacts
          path: ./**/build/distributions/*.tar.gz
          retention-days: 1
          if-no-files-found: error
