name: Test Java Compatibility
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        java: [ '8', '11', '17', '21' ]
      fail-fast: false
      max-parallel: 4
    name: Build on Java ${{ matrix.Java }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Cache Gradle packages
        uses: actions/cache@v3.3.2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Compile and Test
        run: ./gradlew build
