---
name: Release
on:
  workflow_call:
    inputs:
      branch:
       type: string
       required: true
      nightly:
        type: boolean
        required: true
    secrets:
      token:
       required: false
      signingKey:
        required: true
      signingKeyPassword:
        required: true
      mavenCentralUsername:
        required: true
      mavenCentralPassword:
        required: true
  workflow_dispatch:
    inputs:
      branch:
        type: choice
        required: true
        description: Which Branch to make the build from
        options:
          - "main"
          - "7.0"
          - "7.5"
      nightly:
        type: boolean
        required: true
        description: Is this part of a "nightly" workflow?
        default: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: write
        packages: write
    steps:
      - name: checkout code
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{inputs.branch}}
      - name: setup java
        uses: actions/setup-java@v4.7.1
        with:
          distribution: 'temurin'
          # 17 is used as it still supports targeting Java 8 for the build
          # but allows us to update the build and use the more advanced signing tools.
          java-version: '21'
          cache: 'gradle'
      - name: Set Version
        if: inputs.nightly
        run: echo "VERSION=${{inputs.branch}}-nightly" >> $GITHUB_ENV
      - name: Set Version
        if: inputs.nightly == false
        run: echo "VERSION=${{inputs.branch}}" >> $GITHUB_ENV
      - name: show version
        run: echo ${VERSION}
      - name: Build
        run: |
          ./gradlew --info build signWar -PversionOverride=$VERSION signDist signMavenPublication -x test -Psign=true \
             -PsigningKeyPassword="${{ secrets.signingKeyPassword != null && secrets.signingKeyPassword || secrets.SIGNING_KEY_PASSWORD }}" \
             -PcentralApiUsername=${{ secrets.mavenCentralUsername != null && secrets.mavenCentralUsername || secrets.ORG_OPENDCS_CENTRALAPI_USERNAME }} \
             -PcentralApiPassword=${{ secrets.mavenCentralPassword != null && secrets.mavenCentralPassword || secrets.ORG_OPENDCS_CENTRALAPI_PASSWORD }} \
             -PsigningKey="${{ secrets.signingKey != null && secrets.signingKey || secrets.SIGNING_KEY }}" \
      - name: Push to central
        # We don't publish to maven central for the nightly builds
        if: inputs.nightly == false
        run: |
          ./gradlew publishAllToNewMavenCentralApi --info -Psign=true \
             -PversionOverride=$VERSION \
             -PsigningKeyPassword="${{ secrets.signingKeyPassword != null && secrets.signingKeyPassword || secrets.SIGNING_KEY_PASSWORD }}" \
             -PcentralApiUsername=${{ secrets.mavenCentralUsername != null && secrets.mavenCentralUsername || secrets.ORG_OPENDCS_CENTRALAPI_USERNAME }} \
             -PcentralApiPassword=${{ secrets.mavenCentralPassword != null && secrets.mavenCentralPassword || secrets.ORG_OPENDCS_CENTRALAPI_PASSWORD }} \
             -PsigningKey="${{ secrets.signingKey != null && secrets.signingKey || secrets.SIGNING_KEY }}" \
             -PautomaticPublish=true \
             -PwaitForPublished=false
      - name: Create distributions
        run: |
          ./gradlew signDist -Psign=true \
             -PversionOverride=$VERSION \
             -PsigningKeyPassword="${{ secrets.signingKeyPassword != null && secrets.signingKeyPassword || secrets.SIGNING_KEY_PASSWORD }}" \
             -PcentralApiUsername=${{ secrets.mavenCentralUsername != null && secrets.mavenCentralUsername || secrets.ORG_OPENDCS_CENTRALAPI_USERNAME }} \
             -PcentralApiPassword=${{ secrets.mavenCentralPassword != null && secrets.mavenCentralPassword || secrets.ORG_OPENDCS_CENTRALAPI_PASSWORD }} \
             -PsigningKey="${{ secrets.signingKey != null && secrets.signingKey || secrets.SIGNING_KEY }}"
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          tags: |
            type=sha
            type=ref,event=tag
            type=raw,value=${{env.VERSION}}
            type=schedule,pattern=${{inputs.branch}}-{{date 'YYYY.MM.DD'}}
            type=schedule,pattern=${{inputs.branch}}-{{date 'YYYY.MM.DD-hhmmss'}}
      - name: create docker images
        run: |
          REPO=`echo ${{github.repository_owner}} | tr  '[:upper:]' '[:lower:]'`
          ./build_docker.sh ghcr.io/${REPO} ${VERSION} "${{steps.meta.outputs.tags}}"
      - name: upload Release
        env:
            GH_TOKEN: "${{ secrets.token != null && secrets.token || secrets.GITHUB_TOKEN }}"
        run: |
          gh release upload ${VERSION} install/build/distributions/opendcs-${VERSION}.tar#opendcs-${VERSION}.tar --clobber
          gh release upload ${VERSION} install/build/distributions/opendcs-${VERSION}.tar.asc#opendcs-${VERSION}.tar.asc --clobber
          gh release upload ${VERSION} install/build/distributions/opendcs-${VERSION}.zip#opendcs-${VERSION}.zip --clobber
          gh release upload ${VERSION} install/build/distributions/opendcs-${VERSION}.zip.asc#opendcs-${VERSION}.zip.asc --clobber
          gh release upload ${VERSION} java/opendcs-rest-api/build/libs/opendcs-rest-api-${VERSION}.war#opendcs-rest-api-${VERSION}.war --clobber
          gh release upload ${VERSION} java/opendcs-rest-api/build/libs/opendcs-rest-api-${VERSION}.war.asc#opendcs-rest-api-${VERSION}.war.asc --clobber
          gh release upload ${VERSION} java/opendcs-web-ui/build/libs/opendcs-web-ui-${VERSION}.war#opendcs-rest-ui-${VERSION}.war --clobber
          gh release upload ${VERSION} java/opendcs-web-ui/build/libs/opendcs-web-ui-${VERSION}.war.asc#opendcs-rest-ui-${VERSION}.asc --clobber
          gh release upload ${VERSION} java/opendcs-rest-api/build/swagger/opendcs-openapi.json#opendcs-openapi.json --clobber
      - name: Log in to the Container registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.token != null && secrets.token || secrets.GITHUB_TOKEN }}
      - name: Push images
        run: |
          REPO=`echo ${{github.repository_owner}} | tr  '[:upper:]' '[:lower:]'`
          images=("lrgs"  "routingscheduler"  "compproc" "compdepends")
          for image in ${images[@]}; do
            while IFS= read -r version; do
              docker push ghcr.io/${REPO}/${image}:${version}
            done <<< "${{steps.meta.outputs.tags}}"
          done
