---
name: Tagged Release
on:
  push:
    tags:
      - '7.[05].[0-9]+'
      - '7.[05].[0-9]+-RC[0-9]+'
      - '8.0.0-M[0-9]+'
  release:
    types: [published]
jobs:
  release-from-tag:
    permissions:
      id-token: write
      contents: write
      packages: write
    uses: ./.github/workflows/release.yaml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      signingKey: ${{ secrets.SIGNING_KEY }}
      signingKeyPassword: ${{ secrets.SIGNING_KEY_PASSWORD }}
      mavenCentralUsername: ${{ secrets.ORG_OPENDCS_CENTRALAPI_USERNAME }}
      mavenCentralPassword: ${{ secrets.ORG_OPENDCS_CENTRALAPI_PASSWORD }}
    with:
      branch: ${{github.ref_name}}
      nightly: false
