name: OpenDCS Build and unit tests
on:
  pull_request:
    branches:
      - "main"
      - "7.0"
      - "8.0"
    types: [opened, synchronize, reopened]
  push:
    branches:
      - "main"
      - "7.0"
      - "8.0"
# Update this value if we need a different Jdk to be used for sonar analysis.
env:
  sonarJdk: 21

jobs:
  storybook:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [21]
    runs-on: ${{matrix.platform}}
    steps:
      - name: Clean up disk space, so we don't run out.
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK
        uses: actions/setup-java@v4.7.1
        with:
          java-version: ${{matrix.jdk}}
          distribution: temurin
      - uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.8"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.4.1
        with:
          dependency-graph: generate-and-submit
      - name: Change temp dir in windows
        if: matrix.platform == 'windows-latest'
        run: |
          echo "TEMP=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV
          echo "TMP=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV
      - name: install node for react ui and tests
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: javascript/opendcs-web-ui-react/package-lock.json
      - name: Install/Setup playwright
        working-directory: javascript/opendcs-web-ui-react
        run : |
          npm install
          npx playwright install
      - name: Test Storybook
        run: |
          ./gradlew testStorybook --info