name: UI Tests
on:
  pull_request:
    branches:
      - "main"

    types: [opened, synchronize, reopened]
  push:
    branches:
      - "main"


jobs:
    test:
        runs-on: ubuntu-latest
        container:
            # Make sure to grab the latest version of the Playwright image
            # https://playwright.dev/docs/docker#pull-the-image
            image: mcr.microsoft.com/playwright:v1.57.0-noble
        steps:
            - uses: actions/checkout@v4
            - name: Set up JDK
              uses: actions/setup-java@v4.7.1
              with:
                java-version: 21
                distribution: temurin
            - uses: actions/setup-python@v5.6.0
              with:
                python-version: "3.8"
            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v4.4.1    
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: 24.12.0
            - name: Install dependencies
              working-directory: javascript/opendcs-web-ui-react
              run: |
                npm install
                npx playwright install
            - name: Run tests
              working-directory: javascript/opendcs-web-ui-react
              run: npm run test-storybook